<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/css-detail.css" type="text/css">
</head>

<body>


    <div class="ui secondary  menu" style="height: 50px; background-color:#26a7fd; width: 100%; padding-left: 50px;
    margin: 0 auto !important;">
        <a class="item" link href="/HomeLogin">
            Home
        </a>
        <a class="item" link href="/list">
            List
        </a>
        <a class="item" link href="/cart">
            Cart
        </a>
        <div class=" right menu" style=" height: 50px;width: 400px; padding-left: 60px !important;">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>

            <% if(token){ %>
            <a class="ui item" link href="/login">
                Login
            </a>
            <% } else {  %>
            <a class="ui item" href="/logout">
                Logout
                <% } %>
        </div>
    </div>



    <br><br>







    <% data.forEach(el => { %>
    <h4 class="ui horizontal divider header" style="width: 50%; margin-left: 350px !important;">
        <i class="tag icon"></i>
        Picture
    </h4>
    <center>
        <img src="<%= el.dataValues.image%>" width="25%"></center>
    <h4 class="ui horizontal divider header" style="width: 50%; margin-left: 350px !important;">
        <i class="bar chart icon"></i>
        Detail Product
    </h4>
    <table class="ui definition table"
        style="width: 50%; margin-left: 350px; background-color: rgb(185, 190, 189) !important;">
        <tbody>
            <tr>
                <td class="two wide column" style="background-color: rgb(149, 156, 160);">Brand</td>
                <td><%=el.dataValues.merk%></td>
            </tr>
            <tr>
                <td style="background-color:rgb(149, 156, 160);">Size</td>
                <td> <%=el.dataValues.ukuran%></td>
            </tr>
            <tr>
                <td style="background-color:rgb(149, 156, 160);">Type</td>
                <td> <%=el.dataValues.jenis%></td>
            </tr>
            <tr>
                <td style="background-color: rgb(149, 156, 160);">Price</td>
                <td> Rp. <%=el.dataValues.harga%>,-</td>
            </tr>
        </tbody>
    </table>

    <center>
        <div class="ui red three item menu" style="width: 15% !important;">
            <a class="item" link href="/list">
                Back
            </a>
            <a class="item" link href="/addcart/<%=el.dataValues.id%>">
                Add Cart
            </a>
        </div>
    </center>
    <% }) %>


    <br>
    <br>
    <br>







    <footer>
        <div>
            <small>copyright &copy; 2020 - FLOW. All Right Reserved.</small>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>